<ion-header>
  <ion-toolbar>
    <ion-title class="title">Calculadora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"><br>
  <form [formGroup]="form">
    <p>Insira os valores:</p>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Algarismo 1</ion-label>
        <ion-input formControlName="algarismo1" type="number"></ion-input>
      </ion-item><br>

      <ion-item>
        <ion-label position="stacked">Algarismo 2</ion-label>
        <ion-input formControlName="algarismo2" type="number"></ion-input>
      </ion-item>
    </ion-list>

    <p>Escolha a operação:</p>
    <div class="ion-text-center">
      <ion-button [disabled]="form.invalid" color="primary" id="soma" (click)="somar()">+</ion-button>
      <ion-button [disabled]="form.invalid" color="success" id="subtrai" (click)="subtrair()">-</ion-button>
      <ion-button [disabled]="form.invalid" color="danger" id="multiplica" (click)="multiplicar()">x</ion-button>
      <ion-button [disabled]="form.invalid" color="secondary" id="divide" (click)="dividir()">÷</ion-button>
    </div>

    <p>Resultado:</p>
    <p id="quociente" class="ion-text-center">{{quociente}}</p>    
  </form>
</ion-content>
