<ion-header>
  <ion-toolbar>
    <ion-title>IFnanças</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item><br>

  <dash-card valor="{{conta.pagar.valor}}" num="{{conta.pagar.num}}" tipo="pagar"></dash-card>
  <dash-card valor="{{conta.receber.valor}}"  num="{{conta.receber.num}}" tipo="receber"></dash-card>
  <dash-card valor="{{conta.saldo.valor}}" num="{{conta.saldo.num}}" tipo="saldo"></dash-card>

  <div id="btnMenu">
    <ion-button fill="outline" expand="block" [routerLink]="['/contas/pagar']">Contas a pagar</ion-button><br>
    <ion-button fill="outline" expand="block" [routerLink]="['/contas/receber']">Contas a receber</ion-button><br>
  </div>
</ion-content>
